@page "/Reserveringen"
@using System.Net.Http.Json
@inject HttpClient Http


<PageTitle>Home</PageTitle>

<h1>Alle Reserveringen</h1>

<table class="styled-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Collega</th>
            <th>Kenteken</th>
            <th>Datum Vanaf</th>
            <th>Datum Tot</th>
            <th>View</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var Reservering in reserveringen)
        {
            <tr>
                <td>@Reservering.Id</td>
                <td>@collegaLijst.FirstOrDefault(c => c.Id == Reservering.CollegaID)?.Naam</td>
                <td>@leenAutoLijst.FirstOrDefault(c => c.Id == Reservering.LeenAutoID)?.Kenteken</td>
                <td>@Reservering.BoekDatumVanaf</td>
                <td>@Reservering.BoekDatumTot</td>
                <td><a class="btn btn-primary btn-sm" href="Reserveringen/View/@Reservering.Id">View</a></td>
            </tr>
        }

    </tbody>
</table>

<style>

    .styled-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        min-width: 600px;
        box-shadow: 0 0 20px rgba(0,0,0,0.15);
    }

        .styled-table thead tr {
            background-color: #ffd54f;
            color: #ffffff;
            text-align: left;
        }

        .styled-table th,
        .styled-table td {
            padding: 12px 15px;
            border: 1px solid #ddd;
        }

        .styled-table tbody tr {
            border-bottom: 1px solid #ddd;
        }

            .styled-table tbody tr:nth-of-type(even) {
                background-color: #f3f3f3;
            }

            .styled-table tbody tr:last-of-type {
                border-bottom: 2px solid #f4af01;
            }

            .styled-table tbody tr:hover {
                background-color: #f1f1f1;
                cursor: pointer;
            }

</style>