@page "/Reserveringen/View/{Id}"
@layout MainLayout
@using System.Net.Http.Json
@inject HttpClient Http


<h1>Reservering @Id</h1>
<a class="btn btn-primary btn-sm" href="Reserveringen/Add">+ Rit</a>
<table class="styled-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Start address</th>
            <th>Eind address</th>
            <th>Afstand</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var rit in Ritten)
        {
            <tr>
                <td>@rit.Id</td>
                <td>@rit.StartStraat<br>@rit.StartPostcode @rit.StartStad</td>
                <td>@rit.ToStraat<br>@rit.ToPostcode @rit.ToStad</td>
                <td>@rit.Afstand</td>
                <td><a class="btn btn-primary btn-sm" href="Reserveringen/edit/@rit.Id">Edit</a></td>
            </tr>
        }

    </tbody>
</table>

<style>

    .styled-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        min-width: 600px;
        box-shadow: 0 0 20px rgba(0,0,0,0.15);
    }

        .styled-table thead tr {
            background-color: #ffd54f;
            color: #ffffff;
            text-align: left;
        }

        .styled-table th,
        .styled-table td {
            padding: 12px 15px;
            border: 1px solid #ddd;
        }

        .styled-table tbody tr {
            border-bottom: 1px solid #ddd;
        }

            .styled-table tbody tr:nth-of-type(even) {
                background-color: #f3f3f3;
            }

            .styled-table tbody tr:last-of-type {
                border-bottom: 2px solid #f4af01;
            }

            .styled-table tbody tr:hover {
                background-color: #f1f1f1;
                cursor: pointer;
            }

</style>